openapi: 3.0.3
info:
  title: Swagger Petstore - OpenAPI 3.0
  description: |-
    This is a sample Pet Store Server based on the OpenAPI 3.0 specification.  You can find out more about
    

 
  version: 1.0.11

servers:
  - url: https://www.clone-tw.io.vn/
tags:
  - name: users
    description: Các API liên quan đến người dùng twitter
  - name: tweets
    description: Các API liên quan đến tweet
  - name: medias
    description: Các API liên quan đến media như upload ảnh, video
  - name: static
    description: Các API liên quan đến serving static file như avatar, ảnh, video
  - name: search
    description: Các API liên quan đến tìm kiếm
  - name: likes
    description: Các API liên quan đến like tweet
  - name: bookmarks
    description: Các API liên quan đến bookmark tweet
paths:
  /users/login:
    post:
      tags:
        - users
      summary: Dang nhap
      description: Dang nhap vao he thong
      operationId: login
      requestBody:
        description: Thong tin dang nhap
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginBody'
        required: true
      responses:
        '200':
          description: Dang nhap thanh cong
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Login success
                  result: 
                    $ref: '#/components/schemas/SuccessAuthentication'
        '422':
          description: Invalid input
  /users/me:
    get:
      tags:
        - users
      summary: Lay thong tin user
      description: Lay thong tin user
      operationId: getMe
      security:
        - BearerAuth: []   
      responses:
        default:
          description: Lay thong tin user thanh cong
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/User'
  /users/register:
    post:
      tags:
        - users
      summary: Dang ki 
      description: Dang ki tai khoan
      operationId: register
      requestBody:
        description: Thong tin dang ki
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterBody'
        required: true
      responses:
        '200':
          description: Dang ki thanh cong
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Register success
                  result: 
                    $ref: '#/components/schemas/SuccessAuthentication'
        '422':
          description: Invalid input
  /users/refresh-token:
    post:
      tags:
        - users
      summary: Lấy lại access token
      description: Lấy lại access token
      operationId: refreshToken
      requestBody:
        description: Thông tin lấy lại access token
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshToken:
                  type: string
                  example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiNjUwMmNlZmNhNTMzYzQ2Mjc5YTQzMmRiIiwidG9rZW5fdHlwZSI6MSwidmVyaWZ5IjoxLCJpYXQiOjE2OTU2MTYzNTksImV4cCI6MTcwNDI1NjM1OX0.cmFMXDeZAZFl6jQ_ymAqRqW3LB_RZs9oDXTw3C2vx5Q
        required: true
      responses:
        '200':
          description: Lấy lại access token thành công
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Refresh token success
                  result: 
                    $ref: '#/components/schemas/SuccessAuthentication'
        '422':
          description: Invalid input
  /users/logout:
    post:
      tags:
        - users
      summary: Đăng xuất
      description: Đăng xuất
      operationId: logout
      security:
        - BearerAuth: []
      requestBody:
        description: Thông tin đăng xuất
        content:
          application/json:
            schema:
              type: object
              properties:
                refresh_token:
                  type: string
                  example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiNjUwMmNlZmNhNTMzYzQ2Mjc5YTQzMmRiIiwidG9rZW5fdHlwZSI6MSwidmVyaWZ5IjoxLCJpYXQiOjE2OTU2MTYzNTksImV4cCI6MTcwNDI1NjM1OX0.cmFMXDeZAZFl6jQ_ymAqRqW3LB_RZs9oDXTw3C2vx5Q
        required: true
      responses:
        '200':
          description: Đăng xuất thành công
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Logout success
  /users/verify:
    post:
      tags:
        - users
      summary: Xác thực email
      description: Xác thực email
      operationId: verifyEmail
      requestBody:
        description: Email verify token
        content:
          application/json:
            schema:
              type: object
              properties:
                email_verify_token:
                  type: string
                  example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiNjUxZTZlYTEyYzkzMjY3ZmU4YTY5MTFlIiwidG9rZW5fdHlwZSI6MywidmVyaWZ5IjowLCJpYXQiOjE2OTY0OTMyOTUsImV4cCI6MTY5NzA5ODA5NX0.76H4XuQpoVKWXnNLqEBoq0D_GnWPsE3Z4O2gamDAa2c
        required: true
      responses:
        '200':
          description: Xác thực email thanh công 
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Email verify success
                  result: 
                    $ref: '#/components/schemas/SuccessAuthentication'
  /users/resend-verify-email:
    post:
      tags:
        - users
      summary: Gửi lại email xác thực
      description: Gửi lại email xác thực
      operationId: resendVerifyEmail
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Gửi lại email xác thực thành công
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Resend verify email success
  /users/forgot_password:
    post:
      tags:
        - users
      summary: Quên mật khẩu
      description: Quên mật khẩu
      operationId: forgotPassword
      requestBody:
        description: Thông tin quên mật khẩu
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: dinhdat.le.2000@gmail.com
        required: true
      responses:
        '200':
          description: Nhận được email reset password
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Kiểm tra email để reset mật khẩu
  /users/verify_forgot_password:
    post:
      tags:
        - users
      summary: Xác thực link trong email để reset mật khẩu
      description: Xác thực link trong email để reset mật khẩu
      operationId: verifyForgotPassword
      requestBody:
        description: Thông tin xác thực link trong email để reset mật khẩu
        content:
          application/json:
            schema:
              type: object
              properties:
                forgot_password_token:
                  type: string
                  example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiNjRkY2ZiNTIyZTgzYmFmMjVmYjcyMThjIiwidG9rZW5fdHlwZSI6MiwiaWF0IjoxNjkyNTg4Njk0LCJleHAiOjE2OTMxOTM0OTR9.xjNMRg60gejLoNKb3jbDG1_nFsrP_KDwyo5DXAb9q9c
        required: true
      responses:
        '200':
          description: Xác thực link trong email để reset mật khẩu thành công
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Xác thực link trong email để reset mật khẩu thành công
  /users/reset_password:
    post:
      tags:
        - users
      summary: Reset mật khẩu
      description: Reset mật khẩu
      operationId: resetPassword
      requestBody:
        description: Thông tin reset mật khẩu
        content:
          application/json:
            schema:
              type: object
              properties:
                forgot_password_token:
                  type: string
                  example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiNjRkY2ZiNTIyZTgzYmFmMjVmYjcyMThjIiwidG9rZW5fdHlwZSI6MiwiaWF0IjoxNjkyNTg4Njk0LCJleHAiOjE2OTMxOTM0OTR9.xjNMRg60gejLoNKb3jbDG1_nFsrP_KDwyo5DXAb9q9c
                password:
                  type: string
                  example: Dat123!
                confirm_password:
                  type: string
                  example: Dat123!
        required: true
      responses:
        '200':
          description: Reset mật khẩu thành công
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Reset mật khẩu thành công
  /users/{username}:
    get:
      tags:
        - users
      summary: Lấy thông tin user theo username
      description: Lấy thông tin user theo username
      operationId: getUserByUsername
      parameters:
        - name: username
          in: path
          description: username của user
          required: true
          schema:
            type: string
            example: user651269a398e3b58e7084ed47
      responses:
        '200':
          description:  Lấy thông tin user theo username thành công
          content:
            application/json:
              schema:
                $ref:  '#/components/schemas/User'
  /users/follow:
    post:
      tags:
        - users
      summary: Follow user
      description: Follow user
      operationId: followUser
      security:
        - BearerAuth: []
      requestBody:
        description: Thông tin follow user
        content:
          application/json:
            schema:
              type: object
              properties:
                followed_user_id:
                  type: string
                  format: MongoId
                  example: 64be0ad2e43d2464394feedb
        required: true
      responses:
        '200':
          description: Follow user thành công
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Follow user thành công
  /users/follow/{user_id}:
    delete:
      tags:
        - users
      summary: Unfollow user
      description: Unfollow user
      operationId: unfollowUser
      security:
        - BearerAuth: []
      parameters:
        - name: user_id
          in: path
          description: Id của user
          required: true
          schema:
            type: string
            format: MongoId
            example: 6502cefca533c46279a432db
      responses:
        default:
          description:  Unfollow user thành công
          content:
            application/json:
              schema:
                type: string
                example: Unfollow user thành công
  /users/change-password:
    put:
      tags:
        - users
      summary: Đổi mật khẩu
      description: Đổi mật khẩu
      operationId: changePassword
      security:
        - BearerAuth: []
      requestBody:
        description: Thông tin đổi mật khẩu
        content:
          application/json:
            schema:
              type: object
              properties:
                old_password:
                  type: string
                  example: Dat123!
                password:
                  type: string
                  example: Dat1234!
                confirm_password:
                  type: string
                  example: Dat1234!
        required: true
      responses:
        default:
          description: Đổi mật khẩu thành công
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Đổi mật khẩu thành công
  /tweets:
    post:
      tags:
        - tweets
      summary: Tạo tweet
      description: Tạo tweet
      operationId: createTweet
      security:
        - BearerAuth: []
      requestBody:
        description: Thông tin tạo tweet
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TweetRequestBody'
        required: true
      responses:
        default:
          description: Tạo tweet thành công
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Tạo tweet thành công
    get:
      tags:
        - tweets
      summary: Lấy danh sách tweet từ những người mình theo dõi
      description: Lấy danh sách tweet từ những người mình theo dõi
      operationId: getTweets
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          description: Số trang
          required: false
          schema:
            type: integer
            example: 1
        - name: limit
          in: query
          description: Số lượng tweet trên 1 trang
          required: false
          schema:
            type: integer
            example: 10
      responses:
        default:
          description: Lấy danh sách tweet thành công
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Lấy danh sách tweet thành công
                  result:
                    type: object
                    properties:
                      tweets:
                        type: array
                        items:
                          $ref: '#/components/schemas/Tweet'
                      total_page:
                        type: integer
                        example: 1
                      limit:
                        type: integer
                        example: 10
                      page:
                        type: integer
                        example: 1
  /tweets/{tweet_id}:
    get:
      tags:
        - tweets
      summary: Lấy thông tin tweet theo id
      description: Lấy thông tin tweet theo id
      operationId: getTweetById
      parameters:
        - name: tweet_id
          in: path
          description: Id của tweet
          required: true
          schema:
            type: string
            format: MongoId
            example: 64be0ad2e43d2464394feedb
      responses:
        default:
          description: Lấy thông tin tweet theo id thành công
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Lấy thông tin tweet theo id thành công
                  result:
                    $ref: '#/components/schemas/Tweet'
  /tweets/{tweet_id}/children:
    get:
      tags:
        - tweets
      summary: Lấy danh sách tweet comment con theo id
      description: Lấy danh sách tweet comment con theo id
      operationId: getTweetChildrenById
      parameters:
        - name: tweet_id
          in: path
          description: Id của tweet
          required: true
          schema:
            type: string
            format: MongoId
            example: 64be0ad2e43d2464394feedb
        - name: page
          in: query
          description: Số trang
          required: false
          schema:
            type: integer
            example: 1
        - name: limit
          in: query
          description: Số lượng tweet trên 1 trang
          required: false
          schema:
            type: integer
            example: 10
        - name: tweet_type
          in: query
          description: Loại tweet
          required: false
          schema:
            $ref: '#/components/schemas/TweetType'
      responses:
        default:
          description: Lấy danh sách tweet con theo id thành công
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Lấy danh sách tweet con theo id thành công
                  result:
                    type: object
                    properties:
                      tweets:
                        type: array
                        items:
                          $ref: '#/components/schemas/Tweet'
                      total_page:
                        type: integer
                        example: 1
                      limit:
                        type: integer
                        example: 10
                      page:
                        type: integer
                        example: 1
                      tweet_type:
                        $ref: '#/components/schemas/TweetType'
  /medias/upload-image:
    post:
      tags:
        - medias
      summary: Upload ảnh
      description: Upload ảnh
      operationId: uploadImage
      security:
        - BearerAuth: []
      requestBody:
        description: Thông tin upload ảnh, upload 1 hoặc nhiều ảnh
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image:
                  type: array
                  items:
                    type: string
                    format: binary
                  maxItems: 4
        required: true
      responses:
        default:
          description: Upload ảnh thành công
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Upload ảnh thành công
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/Media'
  /medias/upload-video:
    post:
      tags:
        - medias
      summary: Upload video
      description: Upload video
      operationId: uploadVideo
      security:
        - BearerAuth: []
      requestBody:
        description: Thông tin upload video, chỉ upload được 1 video
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                video:
                  type: array
                  items:
                    type: string
                    format: binary
                  maxItems: 4
        required: true
      responses:
        default:
          description:  Upload video thành công
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Upload video thành công
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/Media'
  /search:
    get:
      tags:
        - search
      summary: Tìm tweet theo từ khoá
      description: Tìm tweet theo từ khoá
      operationId: getTweets
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          description: Số trang
          required: false
          schema:
            type: integer
            example: 1
        - name: limit
          in: query
          description: Số lượng tweet trên 1 trang
          required: false
          schema:
            type: integer
            example: 10
        - name: content
          in: query
          description: Từ khoá
          required: true
          schema:
            type: integer
            example: 10
        - name: media_type
          in: query
          description: Trả về tweet có ảnh hoặc video
          required: false
          schema:
            $ref: '#/components/schemas/MediaType'  
      responses:
        default:
          description: Lấy danh sách tweet thành công
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Lấy danh sách tweet thành công
                  result:
                    type: object
                    properties:
                      tweets:
                        type: array
                        items:
                          allOf:
                            - $ref: '#/components/schemas/Tweet'
                            - $ref: '#/components/schemas/User'
                      total_page:
                        type: integer
                        example: 1
                      limit:
                        type: integer
                        example: 10
                      page:
                        type: integer
                        example: 1
  /likes:
    post:
      tags:
        - likes
      summary: Like tweet
      description: Like tweet
      operationId: likeTweet
      security:
        - BearerAuth: []
      requestBody:
        description: Thông tin tweet 
        content:
          application/json:
            schema:
              type: object
              properties:
                tweet_id:
                  type: string
                  format: MongoId
                  example: 6501706d0bf6d4d1c768bf4e
        required: true
      responses:
        '200':
          description: Like tweet thành công
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Like tweet thành công
  /likes/tweets/{tweet_id}:
    delete:
      tags:
        - likes
      summary: Unlike tweet
      description: Unlike tweet
      operationId: unlikeTweet
      security:
        - BearerAuth: []
      parameters:
        - name: tweet_id
          in: path
          description: Id của tweet
          required: true
          schema:
            type: string
            format: MongoId
            example: 6501706d0bf6d4d1c768bf4e
      responses:
        '200':
          description: UnLike tweet thành công
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unlike tweet thành công
  /bookmarks:
    post:
      tags:
        - bookmarks
      summary: Bookmarks tweet
      description: Bookmarks tweet
      operationId: bookmarkTweet
      security:
        - BearerAuth: []
      requestBody:
        description: Thông tin tweet 
        content:
          application/json:
            schema:
              type: object
              properties:
                tweet_id:
                  type: string
                  format: MongoId
                  example: 6501706d0bf6d4d1c768bf4e
        required: true
      responses:
        '200':
          description: bookmark Tweet thành công
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: bookmark tweet thành công
  /bookmarks/tweets/{tweet_id}:
    delete:
      tags:
        - bookmarks
      summary: Unbookmark tweet
      description: Unbookmark tweet
      operationId: unbookmarkTweet
      security:
        - BearerAuth: []
      parameters:
        - name: tweet_id
          in: path
          description: Id của tweet
          required: true
          schema:
            type: string
            format: MongoId
            example: 6501706d0bf6d4d1c768bf4e
      responses:
        '200':
          description: Unbookmark tweet thành công
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unbookmark tweet thành công
components:
  schemas:
    LoginBody:
      type: object
      properties:
         email:
            type: string
            example: dinhdat.le.2000@gmail.com
         password:
            type: string
            example: w221234452@A
    RegisterBody:
      type: object
      properties:
         email:
            type: string
            example: datledinh2@gmail.com
         password:
            type: string
            example: w221234452@A
         confirm_password:
            type: string
            example: w221234452@A 
         name: 
            type: string
            example: le dat
         date_of_birth:
            type: string
            format: ISO8601
            example: "2013-07-02T02:00:00.000Z"
    SuccessAuthentication:
        type: object
        properties:
          access_token: 
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiNjUwMmNlZmNhNTMzYzQ2Mjc5YTQzMmRiIiwidG9rZW5fdHlwZSI6MCwidmVyaWZ5IjoxLCJpYXQiOjE2OTU2MTYzNTksImV4cCI6MTY5NTYxNzI1OX0.97QuAjiI0dQLkpK37TlrMO_Atylb944OSa1BWiprdkQ
          refresh_token : 
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiNjUwMmNlZmNhNTMzYzQ2Mjc5YTQzMmRiIiwidG9rZW5fdHlwZSI6MSwidmVyaWZ5IjoxLCJpYXQiOjE2OTU2MTYzNTksImV4cCI6MTcwNDI1NjM1OX0.cmFMXDeZAZFl6jQ_ymAqRqW3LB_RZs9oDXTw3C2vx5Q
    User:
      type: object
      properties:
              _id:
                type: string
                format: MongoId
                example: "6502cefca533c46279a432db"
              name:
                type: string
                example: "datle"
              email:
                type: string
                example: "datledinh2@gmail.com"
              date_of_birth:
                type: string
                format: ISO8601
                example: "2013-07-02T02:00:00.000Z"
              created_at:
                type: string
                format: ISO8601
                example: "2023-09-14T09:14:36.101Z"
              updated_at:
                type: string
                format: ISO8601
                example: "2023-09-14T09:59:50.830Z"
              twitter_circle:
                type: array
                items: 
                  type: string
                  format: MongoId
                example: [6502cefca533c46279a432db,6502cefca533c46279a432db]
              verify:
                type: integer
                example: 1
                $ref: '#/components/schemas/UserVerifyStatus'
              bio:
                type: string
                example: 'I am '               
              location:
                type: string
                example: "San Fanciso, CA"
              website:
                type: string
                example: ""
              username:
                type: string
                example: "user6502cefca533c46279a432db"
              avatar:
                type: string
                example: "https://pbs.twimg.com/profile_images/1509758137418813441/wtwUtg_H_400x400.jpg"
              cover_photo:
                type: string
                example: "https://pbs.twimg.com/profile_images/1509758137418813441/wtwUtg_H_400x400.jpg"
    UserVerifyStatus: 
      type: number
      enum: [Unverified, Verified, Banned]
      example: 1
    TweetType:
      type: number
      enum: [Tweet, Retweet, Comment, QuoteTweet]
      example: 0
    TweetAudience:
      type: number
      enum: [Everyone, TwitterCircle]
      example: 1
    TweetRequestBody:
      type: object
      properties:
        type: 
           $ref: '#/components/schemas/TweetType'
        audience:
           $ref: '#/components/schemas/TweetType'
        content:
          type: string
          description: Nội dung tweet
          example: 'This is my tweet.'
        parent_id:
          type: string
          nullable: true
          description: ID của tweet cha nếu là Comment, Retweet, Tweet ... hoặc null nếu tweet gốc
          example: null
        hashtags:
          type: array
          items:
            type: string
          description: Danh sách hashtag
          example: ['hashtag1', 'hashtag2']
        mentions:
          type: array
          items:
            type: string
          description: Danh sách user_id được đề cập
          example: ['64be0ad2e43d2464394feedb', '64be0ad2e43d2464394feedc']
        medias:
          type: array
          items:
            $ref: '#/components/schemas/Media' 
          description: Danh sách media đính kèm
    MediaType:
      type: number
      enum: [Image, Video]
      example: 1  
    Media:
      type: object
      properties:
        url:
          type: string
          example: 'http://localhost:4000/images/avatars/johndoe.jpg'
        type:
          $ref: '#/components/schemas/MediaType'     
    Tweet:
      type: object
      properties:
        _id:
          type: string
          format: MongoId
          description: ID của tweet
          example: 64be0ad2e43d2464394feedb
        user_id:
          type: string
          format: MongoId
          description: ID của người dùng tạo tweet
          example: 64be0ad2e43d2464394feedb
        type:
          $ref: '#/components/schemas/TweetType'
        audience:
          $ref: '#/components/schemas/TweetAudience'
        content:
          type: string
          description: Nội dung tweet
          example: 'This is my tweet.'
        parent_id:
          type: string
          nullable: true
          format: MongoId
          description: ID của tweet cha
          example: 64be0ad2e43d2464394feedb
        hashtags:
          type: array
          items:
            type: object
            properties:
              _id:
                type: string
                format: MongoId
                description: ID của hashtag
                example: 64be0ad2e43d2464394feedb
              name:
                type: string
                description: Tên của hashtag
                example: 'hashtag1'
              created_at:
                type: string
                format: ISO8601
                description: Thời gian tạo hashtag
                example: 2023-03-08T12:00:00Z
          description: Danh sách hashtag
          example:
            [
              { _id: '64be0ad2e43d2464394feedb', name: 'hashtag1', created_at: '2023-03-08T12:00:00Z' },
              { _id: '64be0ad2e43d2464394feedc', name: 'hashtag2', created_at: '2023-03-08T12:00:00Z' }
            ]
        mentions:
          type: array
          items:
            type: object
            properties:
              _id:
                type: string
                format: MongoId
                description: ID của user được đề cập
                example: 64be0ad2e43d2464394feedb
              name:
                type: string
                description: Tên của user được đề cập
                example: 'John Doe'
              username:
                type: string
                description: Username của user được đề cập
                example: 'johndoe'
              email:
                type: string
                description: Email của user được đề cập
                example: duthanhduoc@gmail.com
        medias:
          type: array
          items:
            $ref: '#/components/schemas/Media'
          description: Danh sách media đính kèm
          example:
            [
              { url: 'http://localhost:4000/images/avatars/johndoe.jpg', type: 1 },
              { url: 'http://localhost:4000/images/avatars/johndoe.jpg', type: 2 }
            ]
        retweet_count:
          type: integer
          description: Số lần retweet
        comment_count:
          type: integer
          description: Số lần comment
        quote_count:
          type: integer
          description: Số lần quote
        bookmarks:
          type: integer
          description: Số lần bookmark
        likes:
          type: integer
          description: Số lần like
        guest_views:
          type: integer
          description: Số lần xem của khách
        user_views:
          type: integer
          description: Số lần xem của người dùng
        created_at:
          type: string
          format: date-time
          description: Thời gian tạo tweet
        updated_at:
          type: string
          format: date-time
          description: Thời gian cập nhật tweet

  securitySchemes:
    BearerAuth: 
      type: http
      scheme: bearer
      bearerFormat: JWT